---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const DESIGN = [
	{
		name: 'Unreal Engine',
		description: 'Game Engine',
		href: 'https://www.unrealengine.com',
		iconPath: 'unrealengine',
		iconBgColour: '#000001'
	},
	{
		name: 'Blender',
		description: '3D Modelling',
		href: 'https://www.blender.org/',
		iconPath: 'blender',
		iconBgColour: '#F5792A'
	},
	{
		name: '3ds Max',
		description: '3D Modelling',
		href: 'https://www.autodesk.com/products/3ds-max/overview',
		iconPath: '3dsmax',
		iconBgColour: '#FF6F00'
	},
	{
		name: 'Plasticity',
		description: 'CAD Modelling',
		href: 'https://www.plasticity.xyz/',
		iconPath: 'plasticity',
		iconBgColour: '#FF6F00'
	},
	{
		name: 'Rhino3D',
		description: 'CAD Modelling',
		href: 'https://www.rhino3d.com/',
		iconPath: 'rhino3d',
		iconBgColour: '#FF6F00'
	},
	{
		name: 'Adobe Photoshop',
		description: 'Image Editing Tool',
		href: 'https://www.adobe.com/products/photoshop.html',
		iconPath: 'photoshop',
		iconBgColour: '#001D26'
	},
	{
		name: 'Affinity Photo',
		description: 'Image Editing Tool',
		href: 'https://affinity.serif.com/en-gb/photo/',
		iconPath: 'affinityphoto',
		iconBgColour: '#1B1B1B'
	},
	{
		name: 'Davinci Resolve',
		description: 'Video Editing Tool',
		href: 'https://www.blackmagicdesign.com/products/davinciresolve/',
		iconPath: 'davinciresolve',
		iconBgColour: '#1F1F1F'
	}
]

const PRODUCTIVITY = [
	{
		name: 'Notion',
		description: 'Note Taking',
		href: 'https://www.notion.so/product',
		iconPath: 'notion',
		iconBgColour: '#EFEFEE'
	},
	{
		name: 'Obsidian',
		description: 'Long-form Writing',
		href: 'https://obsidian.md/',
		iconPath: 'obsidian',
		iconBgColour: '#7A3EE8'
	},
	{
		name: 'PureRef',
		description: 'Image Reference Management',
		href: 'https://www.pureref.com/',
		iconPath: 'pureref',
		iconBgColour: '#1A1A1A'
	}
]

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vscode',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'Visual Studio',
		description: 'IDE',
		href: 'https://visualstudio.microsoft.com/',
		iconPath: 'visualstudio',
		iconBgColour: '#5C2D91'
	},
	{
		name: 'git',
		description: 'Version Control',
		href: 'https://git-scm.com/',
		iconPath: 'git',
		iconBgColour: '#F05032'
	},
	{
		name: 'GitHub',
		description: 'Version Control',
		href: 'https://www.github.com/',
		iconPath: 'github',
		iconBgColour: '#181717'
	},
	{
		name: 'GitHub Copilot',
		description: 'AI',
		href: 'https://copilot.github.com/',
		iconPath: 'githubcopilot',
		iconBgColour: '#181717'
	},
	{
		name: 'ChatGPT',
		description: 'AI',
		href: 'https://chat.openai.com/',
		iconPath: 'chatgpt',
		iconBgColour: '#06A67F'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title='Design' tools={DESIGN} />
			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
